name: build

on:
  workflow_call:
    inputs:
      push:
        description: "Push built image"
        default: true
        required: false
        type: boolean

defaults:
  run:
    shell: bash

jobs:
  image:
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - id: docker_meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ github.repository }}
          labels: |
            maintainer=Aleksandr Mezin <mezin.alexander@gmail.com>
            com.github.containers.toolbox=true

      - id: docker_build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          pull: true
          push: ${{ inputs.push }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          annotations: ${{ steps.docker_meta.outputs.annotations }}
          cache-from: |
            ghcr.io/${{ github.repository }}:master
            ${{ steps.docker_meta.outputs.tags }}
          cache-to: type=inline

      - id: podman_pull
        run: |
          imageid="$(podman pull "docker-daemon:$IMAGE_ID")"
          echo "imageid=$imageid" | tee "$GITHUB_OUTPUT"
        env:
          IMAGE_ID: ${{ steps.docker_build.outputs.imageid }}

      - run: sudo apt-get update && sudo apt-get install -y podman-toolbox

      - run: toolbox create -i "$IMAGE_ID" toolbox
        env:
          IMAGE_ID: ${{ steps.podman_pull.outputs.imageid }}

      - run: toolbox run -c toolbox -- podman run --rm alpine:latest true

      - run: >-
          docker run --rm  -v ./test.sh:/test.sh:ro --privileged --cgroupns=host
          ${{ steps.docker_build.outputs.imageid }} /test.sh
