name: cleanup

on:
  workflow_call:
    inputs:
      dry-run:
        description: "Don't delete images, just print messages"
        default: false
        required: false
        type: boolean

defaults:
  run:
    shell: bash

jobs:
  cleanup:
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    env:
      GH_TOKEN: ${{ github.token }}
      GH_REPO: ${{ github.repository }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - id: keep-tags
        run: >-
          {
            echo "tags<<*EOF*";
            {
              git for-each-ref --format='%(refname:strip=3)' refs/remotes;
              git for-each-ref --format='%(refname:strip=2)' refs/tags;
              gh pr list --template '{{range .}}pr-{{.number}}{{"\n"}}{{end}}' --json number;
            } | sed -E 's/[^a-zA-Z0-9._-]+/-/g';
            echo "*EOF*";
          } | tee "$GITHUB_OUTPUT"

      - uses: amezin/container-registry-prune-action@6a72f9bdaeb035d1c6e9ac78eb24ada02aa71e55 # v0.3.2
        with:
          name: ${{ github.event.repository.name }}
          tag-patterns: |
            latest
            +([0-9]).+([0-9]).+([0-9]).+([0-9])
            ${{ github.event.repository.default_branch }}
            ${{ steps.keep-tags.outputs.tags }}
          matching-tags-retention-duration: 1y
          mismatching-tags-retention-duration: 1d
          untagged-retention-duration: 1d
          dry-run: ${{ inputs.dry-run }}
